/* การจัดรูปแบบหน้าเว็บ */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  text-align: center;
}

h3 {
  margin-bottom: 0;
}

/* การจัดรูปแบบฟอร์มล็อกอิน */
.form-login {
  max-width: 330px;
  padding: 1rem;
}

/* การจัดรูปแบบช่องกรอกข้อมูล */
.form-login input[type="text"],
.form-login input[type="password"] {
  margin-bottom: 10px;
  border-radius: 0;
}

/* การจัดรูปแบบช่องกรอกข้อมูลเมื่อมีการเลือก */
.form-login .form-floating:focus-within {
  z-index: 2;
}
